/* line 4, ../../../../../../Users/Tedi/.rvm/gems/ruby-1.9.2-p0@rails3tutorial/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
html, body {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

/* line 6, ../../../../../../Users/Tedi/.rvm/gems/ruby-1.9.2-p0@rails3tutorial/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
html {
  font-size: 100.01%;
}

/* line 16, ../../../../../../Users/Tedi/.rvm/gems/ruby-1.9.2-p0@rails3tutorial/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
div, span, object, iframe, h1, h2, h3, h4, h5, h6, p,
pre, a, abbr, acronym, address, code, del, dfn, em, img,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption, tbody, tfoot, thead, tr {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

/* line 18, ../../../../../../Users/Tedi/.rvm/gems/ruby-1.9.2-p0@rails3tutorial/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
blockquote, q {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  quotes: "" "";
}
/* line 45, ../../../../../../Users/Tedi/.rvm/gems/ruby-1.9.2-p0@rails3tutorial/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
blockquote:before, blockquote:after, q:before, q:after {
  content: "";
}

/* line 20, ../../../../../../Users/Tedi/.rvm/gems/ruby-1.9.2-p0@rails3tutorial/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
th, td, caption {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 22, ../../../../../../Users/Tedi/.rvm/gems/ruby-1.9.2-p0@rails3tutorial/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
table {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}

/* line 24, ../../../../../../Users/Tedi/.rvm/gems/ruby-1.9.2-p0@rails3tutorial/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
a img {
  border: none;
}

/**Variables**/
/******Mixins*********/
/* line 51, ../src/style.scss */
body {
  background: #4f9906;
  font-family: Helvetica,Arial,sans-serif;
}

/* line 58, ../src/style.scss */
#bodywrap {
  width: 950px;
  margin: 0 auto;
  overflow: hidden;
  *zoom: 1;
}
/* line 61, ../src/style.scss */
#bodywrap #header {
  margin-top: 20px;
}
/* line 64, ../src/style.scss */
#bodywrap #header h1#apptitle {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 470px;
  background: url(../images/logo.png) no-repeat;
  width: 300px;
  height: 55px;
}
/* line 138, ../../../../../../Users/Tedi/.rvm/gems/ruby-1.9.2-p0@rails3tutorial/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html #bodywrap #header h1#apptitle {
  overflow-x: hidden;
}
/* line 69, ../src/style.scss */
#bodywrap #header h1#apptitle span {
  display: none;
}
/* line 73, ../src/style.scss */
#bodywrap #header .session {
  display: inline;
  float: left;
  margin-right: 0;
  width: 470px;
  display: inline;
  float: right;
  text-align: right;
  font-size: 80%;
  color: #fffde0;
}
/* line 138, ../../../../../../Users/Tedi/.rvm/gems/ruby-1.9.2-p0@rails3tutorial/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html #bodywrap #header .session {
  overflow-x: hidden;
}
/* line 79, ../src/style.scss */
#bodywrap #header .session a {
  text-decoration: none;
  color: #fff125;
}
/* line 82, ../src/style.scss */
#bodywrap #header .session a:hover {
  text-decoration: underline;
}
/* line 87, ../src/style.scss */
#bodywrap #header #navigation {
  display: inline;
  float: left;
  margin-right: 0;
  width: 470px;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  overflow: hidden;
  *zoom: 1;
  margin-top: 20px;
  display: inline;
  float: right;
  font-weight: bold;
}
/* line 138, ../../../../../../Users/Tedi/.rvm/gems/ruby-1.9.2-p0@rails3tutorial/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html #bodywrap #header #navigation {
  overflow-x: hidden;
}
/* line 56, ../../../../../../Users/Tedi/.rvm/gems/ruby-1.9.2-p0@rails3tutorial/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/utilities/lists/_horizontal-list.scss */
#bodywrap #header #navigation li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0px;
  white-space: nowrap;
  display: inline;
  float: left;
  padding-left: 4px;
  padding-right: 4px;
}
/* line 45, ../../../../../../Users/Tedi/.rvm/gems/ruby-1.9.2-p0@rails3tutorial/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/utilities/lists/_horizontal-list.scss */
#bodywrap #header #navigation li:first-child, #bodywrap #header #navigation li.first {
  padding-left: 0;
}
/* line 46, ../../../../../../Users/Tedi/.rvm/gems/ruby-1.9.2-p0@rails3tutorial/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/utilities/lists/_horizontal-list.scss */
#bodywrap #header #navigation li:last-child, #bodywrap #header #navigation li.last {
  padding-right: 0;
}
/* line 93, ../src/style.scss */
#bodywrap #header #navigation li {
  display: inline;
  float: right;
}
/* line 95, ../src/style.scss */
#bodywrap #header #navigation li a {
  text-decoration: none;
  color: #fffde0;
  padding: 10px;
  display: block;
}
/* line 100, ../src/style.scss */
#bodywrap #header #navigation li a:hover {
  background-color: #fffde0;
  color: #4f9906;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}
/* line 110, ../src/style.scss */
#bodywrap #body {
  color: #fffde0;
  border-top: dashed 4px #fffde0;
  display: inline;
  float: left;
  margin-right: 0;
  width: 950px;
  margin-top: 15px;
}
/* line 138, ../../../../../../Users/Tedi/.rvm/gems/ruby-1.9.2-p0@rails3tutorial/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html #bodywrap #body {
  overflow-x: hidden;
}
/* line 115, ../src/style.scss */
#bodywrap #body #dashboard {
  margin-top: 30px;
}
/* line 116, ../src/style.scss */
#bodywrap #body #dashboard #newtask {
  margin-top: 20px;
  display: inline;
  float: left;
  margin-right: 0;
  width: 950px;
}
/* line 138, ../../../../../../Users/Tedi/.rvm/gems/ruby-1.9.2-p0@rails3tutorial/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html #bodywrap #body #dashboard #newtask {
  overflow-x: hidden;
}
/* line 120, ../src/style.scss */
#bodywrap #body #dashboard #newtask #leftform {
  display: inline;
  float: left;
  margin-right: 0;
  width: 470px;
}
/* line 138, ../../../../../../Users/Tedi/.rvm/gems/ruby-1.9.2-p0@rails3tutorial/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html #bodywrap #body #dashboard #newtask #leftform {
  overflow-x: hidden;
}
/* line 123, ../src/style.scss */
#bodywrap #body #dashboard #newtask #rightform {
  display: inline;
  float: left;
  margin-right: 0;
  width: 470px;
}
/* line 138, ../../../../../../Users/Tedi/.rvm/gems/ruby-1.9.2-p0@rails3tutorial/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html #bodywrap #body #dashboard #newtask #rightform {
  overflow-x: hidden;
}
/* line 126, ../src/style.scss */
#bodywrap #body #dashboard #newtask #submittask {
  display: inline;
  float: left;
  margin-right: 0;
  width: 950px;
}
/* line 138, ../../../../../../Users/Tedi/.rvm/gems/ruby-1.9.2-p0@rails3tutorial/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html #bodywrap #body #dashboard #newtask #submittask {
  overflow-x: hidden;
}
/* line 130, ../src/style.scss */
#bodywrap #body #dashboard #newtask input {
  border: medium none;
  height: 20px;
  margin-bottom: 18px;
  padding: 13px 0 13px 10px;
  width: 260px;
  background: #fffdd8;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  color: #4f9906;
  font-size: 120%;
}
/* line 143, ../src/style.scss */
#bodywrap #body #dashboard #newtask .btn {
  background: url("../images/addtask.png") no-repeat scroll left top transparent;
  border: medium none;
  cursor: pointer;
  height: 53px;
  overflow: hidden;
  padding: 0;
  text-indent: -2000em;
  width: 275px;
  margin-top: 30px;
}
/* line 154, ../src/style.scss */
#bodywrap #body #dashboard #newtask label {
  display: inline;
  float: left;
  margin-right: 0;
  width: 110px;
}
/* line 138, ../../../../../../Users/Tedi/.rvm/gems/ruby-1.9.2-p0@rails3tutorial/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html #bodywrap #body #dashboard #newtask label {
  overflow-x: hidden;
}
/* line 157, ../src/style.scss */
#bodywrap #body #dashboard #newtask select {
  border: medium none;
  height: 50px;
  margin-bottom: 18px;
  padding: 13px 0 13px 10px;
  width: 260px;
  background: #fffdd8;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  color: #4f9906;
  font-size: 120%;
}
/* line 171, ../src/style.scss */
#bodywrap #body #dashboard #newtask textarea {
  color: #E46508;
  font-family: Georgia,"Times New Roman",Times,serif;
  font-size: 100%;
  margin-top: 2px;
  padding: 0;
  text-align: left;
}
/* line 182, ../src/style.scss */
#bodywrap #body #dashboard #formstyle {
  margin-top: 20px;
  display: inline;
  float: left;
  margin-right: 0;
  width: 950px;
}
/* line 138, ../../../../../../Users/Tedi/.rvm/gems/ruby-1.9.2-p0@rails3tutorial/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html #bodywrap #body #dashboard #formstyle {
  overflow-x: hidden;
}
/* line 187, ../src/style.scss */
#bodywrap #body #dashboard #formstyle #register a {
  display: inline;
  float: left;
  margin-right: 0;
  width: 950px;
  text-decoration: none;
  color: #fff125;
  font-style: italic;
  font-size: 90%;
}
/* line 138, ../../../../../../Users/Tedi/.rvm/gems/ruby-1.9.2-p0@rails3tutorial/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html #bodywrap #body #dashboard #formstyle #register a {
  overflow-x: hidden;
}
/* line 193, ../src/style.scss */
#bodywrap #body #dashboard #formstyle #register a:hover {
  text-decoration: underline;
}
/* line 200, ../src/style.scss */
#bodywrap #body #dashboard #formstyle #leftform {
  display: inline;
  float: left;
  margin-right: 0;
  width: 470px;
}
/* line 138, ../../../../../../Users/Tedi/.rvm/gems/ruby-1.9.2-p0@rails3tutorial/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html #bodywrap #body #dashboard #formstyle #leftform {
  overflow-x: hidden;
}
/* line 203, ../src/style.scss */
#bodywrap #body #dashboard #formstyle #rightform {
  display: inline;
  float: left;
  margin-right: 0;
  width: 470px;
}
/* line 138, ../../../../../../Users/Tedi/.rvm/gems/ruby-1.9.2-p0@rails3tutorial/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html #bodywrap #body #dashboard #formstyle #rightform {
  overflow-x: hidden;
}
/* line 206, ../src/style.scss */
#bodywrap #body #dashboard #formstyle #submittask {
  display: inline;
  float: left;
  margin-right: 0;
  width: 950px;
}
/* line 138, ../../../../../../Users/Tedi/.rvm/gems/ruby-1.9.2-p0@rails3tutorial/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html #bodywrap #body #dashboard #formstyle #submittask {
  overflow-x: hidden;
}
/* line 213, ../src/style.scss */
#bodywrap #body #dashboard #formstyle .btn {
  border: medium none;
  cursor: pointer;
  height: 53px;
  overflow: hidden;
  padding: 0;
  text-indent: -2000em;
  width: 275px;
  margin-top: 30px;
}
/* line 223, ../src/style.scss */
#bodywrap #body #dashboard #formstyle .newtaskbtn {
  background: url("../images/addtask.png") no-repeat scroll left top transparent;
}
/* line 226, ../src/style.scss */
#bodywrap #body #dashboard #formstyle .newprojectbtn {
  background: url("../images/addproject.png") no-repeat scroll left top transparent;
}
/* line 229, ../src/style.scss */
#bodywrap #body #dashboard #formstyle .editprojectbtn {
  background: url("../images/submitedits.png") no-repeat scroll left top transparent;
}
/* line 232, ../src/style.scss */
#bodywrap #body #dashboard #formstyle .adduserbtn {
  background: url("../images/adduserbtn.png") no-repeat scroll left top transparent;
}
/* line 237, ../src/style.scss */
#bodywrap #body #dashboard #formstyle .loginbtn {
  background: url("../images/login.png") no-repeat scroll left top transparent;
}
/* line 240, ../src/style.scss */
#bodywrap #body #dashboard #formstyle .registerbtn {
  background: url("../images/registerbtn.png") no-repeat scroll left top transparent;
}
/* line 245, ../src/style.scss */
#bodywrap #body #dashboard #formstyle input {
  border: medium none;
  height: 20px;
  margin-bottom: 18px;
  padding: 13px 0 13px 10px;
  width: 260px;
  background: #fffdd8;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  color: #4f9906;
  font-size: 120%;
}
/* line 259, ../src/style.scss */
#bodywrap #body #dashboard #formstyle label {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 110px;
}
/* line 138, ../../../../../../Users/Tedi/.rvm/gems/ruby-1.9.2-p0@rails3tutorial/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html #bodywrap #body #dashboard #formstyle label {
  overflow-x: hidden;
}
/* line 262, ../src/style.scss */
#bodywrap #body #dashboard #formstyle select {
  border: medium none;
  height: 50px;
  margin-bottom: 18px;
  padding: 13px 0 13px 10px;
  width: 260px;
  background: #fffdd8;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  color: #4f9906;
  font-size: 120%;
}
/* line 276, ../src/style.scss */
#bodywrap #body #dashboard #formstyle textarea {
  border: medium none;
  height: 20px;
  margin-bottom: 18px;
  padding: 13px 0 13px 10px;
  width: 260px;
  background: #fffdd8;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  color: #4f9906;
  font-size: 120%;
  height: 127px;
  width: 320px;
}
/* line 297, ../src/style.scss */
#bodywrap #body #dashboard .single_project, #bodywrap #body #dashboard #formstyle, #bodywrap #body #dashboard .dashboard_project {
  border: 1px solid rgba(0, 0, 0, 0.1);
  position: relative;
  display: inline;
  float: right;
  position: relative;
  margin: 0 -20px 1.5em 20px;
  background-color: rgba(0, 0, 0, 0.1);
  -moz-border-radius: 9px;
  -webkit-border-radius: 9px;
  -o-border-radius: 9px;
  -ms-border-radius: 9px;
  -khtml-border-radius: 9px;
  border-radius: 9px;
  padding: 20px;
  display: inline;
  float: left;
  margin-right: 0;
  width: 870px;
  margin-top: 30px;
}
/* line 138, ../../../../../../Users/Tedi/.rvm/gems/ruby-1.9.2-p0@rails3tutorial/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html #bodywrap #body #dashboard .single_project, * html #bodywrap #body #dashboard #formstyle, * html #bodywrap #body #dashboard .dashboard_project {
  overflow-x: hidden;
}
/* line 305, ../src/style.scss */
#bodywrap #body #dashboard .single_project:hover, #bodywrap #body #dashboard #formstyle:hover, #bodywrap #body #dashboard .dashboard_project:hover {
  -moz-box-shadow: #333333 1px 1px 5px 0;
  -webkit-box-shadow: #333333 1px 1px 5px 0;
  -o-box-shadow: #333333 1px 1px 5px 0;
  box-shadow: #333333 1px 1px 5px 0;
}
/* line 308, ../src/style.scss */
#bodywrap #body #dashboard .single_project a, #bodywrap #body #dashboard #formstyle a, #bodywrap #body #dashboard .dashboard_project a {
  text-decoration: none;
}
/* line 312, ../src/style.scss */
#bodywrap #body #dashboard .single_project h2.project_name, #bodywrap #body #dashboard #formstyle h2.project_name, #bodywrap #body #dashboard .dashboard_project h2.project_name {
  background-color: rgba(0, 0, 0, 0.1);
  font-weight: bold;
  display: inline;
  float: left;
  margin-right: 0;
  width: 870px;
  padding: 10px;
  margin-bottom: 10px;
  -moz-border-radius-topleft: 9px;
  -webkit-border-top-left-radius: 9px;
  -o-border-top-left-radius: 9px;
  -ms-border-top-left-radius: 9px;
  -khtml-border-top-left-radius: 9px;
  border-top-left-radius: 9px;
  -moz-border-radius-bottomleft: 9px;
  -webkit-border-bottom-left-radius: 9px;
  -o-border-bottom-left-radius: 9px;
  -ms-border-bottom-left-radius: 9px;
  -khtml-border-bottom-left-radius: 9px;
  border-bottom-left-radius: 9px;
}
/* line 138, ../../../../../../Users/Tedi/.rvm/gems/ruby-1.9.2-p0@rails3tutorial/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html #bodywrap #body #dashboard .single_project h2.project_name, * html #bodywrap #body #dashboard #formstyle h2.project_name, * html #bodywrap #body #dashboard .dashboard_project h2.project_name {
  overflow-x: hidden;
}
/* line 320, ../src/style.scss */
#bodywrap #body #dashboard .single_project h2.project_name:hover, #bodywrap #body #dashboard #formstyle h2.project_name:hover, #bodywrap #body #dashboard .dashboard_project h2.project_name:hover {
  background-color: #fffde0;
  color: #4f9906;
}
/* line 324, ../src/style.scss */
#bodywrap #body #dashboard .single_project h2.project_name:hover a, #bodywrap #body #dashboard #formstyle h2.project_name:hover a, #bodywrap #body #dashboard .dashboard_project h2.project_name:hover a {
  color: #4f9906;
}
/* line 327, ../src/style.scss */
#bodywrap #body #dashboard .single_project h2.project_name a, #bodywrap #body #dashboard #formstyle h2.project_name a, #bodywrap #body #dashboard .dashboard_project h2.project_name a {
  color: #fffde0;
}
/* line 330, ../src/style.scss */
#bodywrap #body #dashboard .single_project h2.project_name span, #bodywrap #body #dashboard #formstyle h2.project_name span, #bodywrap #body #dashboard .dashboard_project h2.project_name span {
  position: absolute;
  right: 0px;
  top: 12px;
}
/* line 334, ../src/style.scss */
#bodywrap #body #dashboard .single_project h2.project_name span a, #bodywrap #body #dashboard #formstyle h2.project_name span a, #bodywrap #body #dashboard .dashboard_project h2.project_name span a {
  color: #4f9906;
}
/* line 336, ../src/style.scss */
#bodywrap #body #dashboard .single_project h2.project_name span a:hover, #bodywrap #body #dashboard #formstyle h2.project_name span a:hover, #bodywrap #body #dashboard .dashboard_project h2.project_name span a:hover {
  color: #fffde0;
}
/* line 346, ../src/style.scss */
#bodywrap #body #dashboard .single_project ul.projects li, #bodywrap #body #dashboard #formstyle ul.projects li, #bodywrap #body #dashboard .dashboard_project ul.projects li {
  list-style-type: none;
  padding-top: 10px;
}
/* line 355, ../src/style.scss */
#bodywrap #body #dashboard .single_project ul.projects li a.task, #bodywrap #body #dashboard #formstyle ul.projects li a.task, #bodywrap #body #dashboard .dashboard_project ul.projects li a.task {
  background: url(../images/check.png) left center no-repeat;
  background-position: 0px -14px;
  padding-left: 17px;
  text-decoration: none;
  color: #fffde0;
  height: 15px;
}
/* line 362, ../src/style.scss */
#bodywrap #body #dashboard .single_project ul.projects li a.task:hover, #bodywrap #body #dashboard #formstyle ul.projects li a.task:hover, #bodywrap #body #dashboard .dashboard_project ul.projects li a.task:hover {
  background-position: 0px 3px;
}
/* line 366, ../src/style.scss */
#bodywrap #body #dashboard .single_project ul.projects li a.user, #bodywrap #body #dashboard #formstyle ul.projects li a.user, #bodywrap #body #dashboard .dashboard_project ul.projects li a.user {
  padding-left: 17px;
  text-decoration: none;
  color: #fffde0;
  height: 15px;
}
/* line 372, ../src/style.scss */
#bodywrap #body #dashboard .single_project ul.projects li a.user:hover, #bodywrap #body #dashboard #formstyle ul.projects li a.user:hover, #bodywrap #body #dashboard .dashboard_project ul.projects li a.user:hover {
  background-position: 0px 3px;
}
/* line 376, ../src/style.scss */
#bodywrap #body #dashboard .single_project ul.projects li .check, #bodywrap #body #dashboard #formstyle ul.projects li .check, #bodywrap #body #dashboard .dashboard_project ul.projects li .check {
  visibility: hidden;
}
/* line 379, ../src/style.scss */
#bodywrap #body #dashboard .single_project ul.projects li span.del, #bodywrap #body #dashboard #formstyle ul.projects li span.del, #bodywrap #body #dashboard .dashboard_project ul.projects li span.del {
  visibility: hidden;
}
/* line 382, ../src/style.scss */
#bodywrap #body #dashboard .single_project ul.projects li:hover span.del, #bodywrap #body #dashboard #formstyle ul.projects li:hover span.del, #bodywrap #body #dashboard .dashboard_project ul.projects li:hover span.del {
  visibility: visible;
}
/* line 385, ../src/style.scss */
#bodywrap #body #dashboard .single_project ul.projects li span.edit, #bodywrap #body #dashboard #formstyle ul.projects li span.edit, #bodywrap #body #dashboard .dashboard_project ul.projects li span.edit {
  visibility: hidden;
}
/* line 388, ../src/style.scss */
#bodywrap #body #dashboard .single_project ul.projects li:hover span.edit, #bodywrap #body #dashboard #formstyle ul.projects li:hover span.edit, #bodywrap #body #dashboard .dashboard_project ul.projects li:hover span.edit {
  visibility: visible;
}
/* line 400, ../src/style.scss */
#bodywrap #footer {
  display: inline;
  float: left;
  margin-right: 0;
  width: 950px;
  margin-top: 40px;
  border-top: dashed 4px #fffde0;
}
/* line 138, ../../../../../../Users/Tedi/.rvm/gems/ruby-1.9.2-p0@rails3tutorial/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html #bodywrap #footer {
  overflow-x: hidden;
}
/* line 404, ../src/style.scss */
#bodywrap #footer p.site_info {
  margin-top: 30px;
}

/* line 412, ../src/style.scss */
a.button {
  display: inline;
  float: left;
  display: block;
  margin: 0.7em 0.5em 0.7em 0;
  border-width: 1px;
  border-style: solid;
  font-family: "Lucida Grande", Tahoma, Arial, Verdana, sans-serif;
  font-size: 100%;
  line-height: 130%;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
  padding: 5px 10px 5px 7px;
  background-color: #fffde0;
  border-color: #fffff0 #fffde0 #fffde0 #fffff0;
  color: #4f9906;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
}
/* line 75, ../../../../../../Users/Tedi/.rvm/gems/ruby-1.9.2-p0@rails3tutorial/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_buttons.scss */
a.button img {
  margin: 0 3px -3px 0 !important;
  padding: 0;
  border: none;
  width: 16px;
  height: 16px;
  float: none;
}
/* line 62, ../../../../../../Users/Tedi/.rvm/gems/ruby-1.9.2-p0@rails3tutorial/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_buttons.scss */
a.button:hover {
  background-color: #4f9906;
  border-color: #5fa916 #4f9906 #4f9906 #5fa916;
  color: #fffde0;
}
/* line 47, ../../../../../../Users/Tedi/.rvm/gems/ruby-1.9.2-p0@rails3tutorial/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_buttons.scss */
a.button:active {
  background-color: #4f9906;
  border-color: #5fa916 #4f9906 #4f9906 #5fa916;
  color: #fffde0;
}
/* line 425, ../src/style.scss */
a.button:hover {
  text-shadow: #666666 1px 1px 1px;
}

/* line 433, ../src/style.scss */
a.projectbutton {
  display: inline;
  float: right;
  display: block;
  margin: 0.7em 0.5em 0.7em 0;
  border-width: 1px;
  border-style: solid;
  font-family: "Lucida Grande", Tahoma, Arial, Verdana, sans-serif;
  font-size: 100%;
  line-height: 130%;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
  padding: 5px 10px 5px 7px;
  background-color: #fffde0;
  border-color: #fffff0 #fffde0 #fffde0 #fffff0;
  color: #4f9906;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
}
/* line 75, ../../../../../../Users/Tedi/.rvm/gems/ruby-1.9.2-p0@rails3tutorial/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_buttons.scss */
a.projectbutton img {
  margin: 0 3px -3px 0 !important;
  padding: 0;
  border: none;
  width: 16px;
  height: 16px;
  float: none;
}
/* line 62, ../../../../../../Users/Tedi/.rvm/gems/ruby-1.9.2-p0@rails3tutorial/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_buttons.scss */
a.projectbutton:hover {
  background-color: #4f9906;
  border-color: #5fa916 #4f9906 #4f9906 #5fa916;
  color: #fffde0;
}
/* line 47, ../../../../../../Users/Tedi/.rvm/gems/ruby-1.9.2-p0@rails3tutorial/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_buttons.scss */
a.projectbutton:active {
  background-color: #4f9906;
  border-color: #5fa916 #4f9906 #4f9906 #5fa916;
  color: #fffde0;
}
/* line 446, ../src/style.scss */
a.projectbutton:hover {
  text-shadow: #666666 1px 1px 1px;
}

/* line 452, ../src/style.scss */
.tipsy {
  padding: 5px;
  font-size: 14px;
  opacity: 0.8;
  filter: alpha(opacity=80);
  background-repeat: no-repeat;
  background-image: url(../images/tipsy.gif);
}

/* line 453, ../src/style.scss */
.tipsy-inner {
  padding: 5px 8px 4px 8px;
  background-color: #142702;
  color: #fffde0;
  max-width: 200px;
  text-align: center;
}

/* line 454, ../src/style.scss */
.tipsy-inner {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
}

/* line 455, ../src/style.scss */
.tipsy-north {
  background-position: top center;
}

/* line 456, ../src/style.scss */
.tipsy-south {
  background-position: bottom center;
}

/* line 457, ../src/style.scss */
.tipsy-east {
  background-position: right center;
}

/* line 458, ../src/style.scss */
.tipsy-west {
  background-position: left center;
}
