@import "blueprint/reset";
@import "blueprint";
@import "compass/utilities/lists/horizontal-list";
@import "blueprint/buttons";
@import "blueprint/typography";
@import "compass/css3";
@import "compass/layout/sticky-footer";

/**Variables**/
$blueprint_grid_columns: 24;
$blueprint_grid_width: 30px;
$border_radius: 5px;
$logo: url(../images/logo.png) no-repeat;
$green: #4F9906;
$color: #fffde0;

$noisebg: url(../images/bluenoise.png) repeat-x transparent;
$gradientbg:  url(../images/gradientbg.png) repeat-x transparent;

$topblue: #0e6cb6;
$bodybox: #ECECEC;
$bodycolor: #DBE2ED;
$footer: #6F86A4;
$blue: #0e6cb6;
$contact_font_color: #666;
$background_img: url(../images/bg.jpg);

/******Mixins*********/
@mixin speakbubble($background: $button-blue, $pointer: 14px) {
  background-color: $background;
  color: #fff;
  position: relative;
  //border-bottom: 14px solid #eee;
  padding: 10px;
  @include border-radius ($border_radius);
  &:before {
   		content: '';
  		border-left: $pointer solid $background;
  		border-bottom: $pointer solid #eee;
  		position: absolute;
  		bottom: ($pointer * -1);
  		left: 15px;
	}
}


body{
	//background: #e7f4fd;
	background: $green;
	
	font-family: Helvetica,Arial,sans-serif;
}

#bodywrap {

@include container;
#header {
	
	margin-top: 20px;
	h1#apptitle{
	@include column(12);
	background: $logo;
	width: 300px;
	height: 55px;
	span {
		display: none;
		}
	} //and apptitle
	.session {
		@include column(12, true);
		@include float(right);
		text-align: right;
		font-size: 80%;
		color: $color;
		a{
			text-decoration: none;
			color: #fff125;
			&:hover {
				text-decoration: underline;
			}
		}
	} //end .session
	#navigation {
	@include column(12, true);
	@include horizontal-list;
	margin-top: 20px;
	@include float(right);
	font-weight: bold;
	li {
	@include float(right);
	a {
		text-decoration: none;
		color: $color;
		padding: 10px;
		display: block;
		&:hover {
			background-color: $color;
			color: $green;
			-moz-border-radius: 5px;
			-webkit-border-radius: 5px;
		}
	}
	}//end li
	} //end navigation
} //end header
#body{
color: $color;
border-top: dashed 4px $color;
@include column(24, true);
margin-top: 15px;
#dashboard {
margin-top: 30px;
}
}//end body
#footer{
	margin-top: 40px;
	border-top: dashed 4px $color;
	p.site_info {
		margin-top: 30px;
		
	}
}
} //end bodywrap